<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="findme_unisociesc.lucaskonradfranca.com.br.findme_unisociesc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".PrincipalActivity" />
        <activity
            android:name=".CadastroActivity"
            android:label="@string/botao_cadastrar"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".SobreActivity"
            android:label="@string/sobre"
            android:parentActivityName=".PrincipalActivity" />
        <activity
            android:name=".ConfiguracoesActivity"
            android:label="@string/tabConfig"
            android:parentActivityName=".PrincipalActivity" />
        <activity
            android:name=".ConfigUserActivity"
            android:label="@string/ConfigUser"
            android:parentActivityName=".ConfiguracoesActivity" />
        <activity
            android:name=".LocationActivity"
            android:label="Localização"
            android:parentActivityName=".PrincipalActivity" />
        <activity android:name=".BuscarAmigosActivity"
            android:label="Buscar amigos"
            android:parentActivityName=".PrincipalActivity"></activity>



    </application>

</manifest>